.users 
{ 
  text-align: center;
  border : 1px solid black;
  border-collapse: separate;
  border-spacing: 10px;
  margin: 0 auto;
}

.TabTitre{
  text-align: center;
  color: red;
  font-family: italic;
  width:120px;
  height:20px;
  border: 3px solid orange;
  
}

.user
{
font-family: 'Courier New', Courier, monospace;
width:120px;
height:20px;
border: 3px solid orange;
  }
.titre {
  text-align: center;
  font-family:serif;
}
.submit {
  background-color: burlywood;
  color: antiquewhite;
}
